[MESSAGES CONTROL]
disable=missing-module-docstring,
        missing-class-docstring,
        missing-function-docstring,
        too-few-public-methods,
        too-many-instance-attributes,
        too-many-statements,
        broad-exception-caught,
        invalid-name,

[REPORTS]
output-format=colorized

[FORMAT]
max-line-length=125
